<div class="container">

	<section class="page--portfolio">
		<h2 class="page__heading">{{model.title}}</h2>

		<div class="portfolio-item">
			<img class="portfolio-item__image" src="{{model.image}}" alt="CATS!">

			{{markdown-content content=model.content}}

			<p>
				<strong>Client:</strong> {{model.client}}
			</p>
			<p>
				<strong>URL:</strong> {{model.siteURL}}
			</p>
		</div>
	</section>

	{{liquid-outlet}}

</div><!-- /.container -->
