<div class="container">

	<section class="page-section page-section--about">
		<h2 class="page-section__heading">
			About
		</h2>

		<p>
			I'm a freelance web developer and consultant specializing in:
		</p>

		<div class="card-deck card-group--skills">
			<div class="card">
				<h3 class="card-header text-sm-center">
					<i class="fa fa-wordpress"></i>
					WordPress
				</h3>
				<ul class="skill-list card__list list-group list-group-flush">
					<li class="card-list__item list-group-item">
						Custom sites
					</li>
					<li class="card-list__item list-group-item">
						Plugins
					</li>
					<li class="card-list__item list-group-item">
						Themes
					</li>
				</ul>
			</div>
			<div class="card">
				<h3 class="card-header text-sm-center">
					<i class="fa fa-cloud-upload"></i>
					Web Apps
				</h3>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						Laravel
					</li>
					<li class="list-group-item">
						CodeIgniter
					</li>
					<li class="list-group-item">
						Ruby on Rails
					</li>
				</ul>
			</div>
			<div class="card">
				<h3 class="card-header text-sm-center">
					<i class="fa fa-code"></i>
					Front-end
				</h3>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						HTML5, CSS3, Sass
					</li>
					<li class="list-group-item">
						ES6, CoffeeScript
					</li>
					<li class="list-group-item">
						Backbone, Ember, React
					</li>
				</ul>
			</div>
		</div>

		<h3 class="page-section__subheading">
			Contact me:
		</h3>

		<div class="contact-links">
			<a class="contact-link" href="https://github.com/wesm87">
				<i class="fa fa-github"></i> GitHub
			</a>
			<a class="contact-link" href="https://www.linkedin.com/in/wes-moberly-0ba41261">
				<i class="fa fa-linkedin"></i> LinkedIn
			</a>
			<a class="contact-link" href="mailto:wesm87@gmail.com">
				<i class="fa fa-at"></i> Email
			</a>
		</div>
	</section>

	{{markdown-content content='
### This is a test

```js
var testVar = "hello";
console.log( testVar );
function soSomething() {
	doSomethingElse();
}
```
'}}

	{{#if model.portfolioItems}}

		<section class="page-section page-section__portfolio">
			<h2 class="page-section__heading">
				Portfolio
				{{#link-to 'portfolio'}}
					<small>View All <i class="fa fa-arrow-right"></i></small>
				{{/link-to}}
			</h2>
			<div class="portfolio-items">

				{{#each (limit model.portfolioItems 6) as |item|}}

					<div class="portfolio-item">
						{{#link-to "portfolio.item" item class="portfolio-item__link"}}
							<img class="portfolio-item__image" src="{{item.image}}" alt="CATS!">
							<div class="portfolio-item__overlay">
								{{markdown-content content=item.content}}

								<p><strong>Client:</strong> {{item.client}}</p>
							</div>
						{{/link-to}}
					</div>

				{{/each}}

			</div>
		</section>

	{{/if}}

	<section class="page-section page-section--contact" style="display: none;">
		<h2 class="page-section__heading">Contact</h2>
		<form>
			<fieldset class="form-group row">
				<div class="col-sm-6">
					<label class="sr-only">Name</label>
					<input type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
					<p class="help-block text-danger"></p>
				</div>
				<div class="col-sm-6">
					<label class="sr-only">Email Address</label>
					<input type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
					<p class="help-block text-danger"></p>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label class="sr-only">Message</label>
				<textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
				<p class="help-block text-danger"></p>
			</fieldset>
			<button type="submit" class="contact__submit-button">Send</button>
		</form>
	</section>

	{{#if model.posts}}

		<section class="page-section page-section--blog">
			<h2 class="page-section__heading">Blog</h2>
			<div class="blog-posts">

				{{#each (limit model.posts 6) as |post|}}

					<div class="blog-post">
						<h3 class="blog-post__title">
							{{#link-to "posts.post" post.id}}
								{{post.title}}
							{{/link-to}}
						</h3>
						<div class="blog-post__content">
							{{markdown-content content=post.content}}
						</div>
					</div>

				{{/each}}

			</div>
		</section>

	{{/if}}

</div><!-- /.container -->
